.breadcrumb {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 20px;
    gap: 15px;
    align-items: center;
    list-style: none;
    left: 0;
    margin-left: 15px;
}

.breadcrumb li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.breadcrumb li a:hover {
    color: rgb(32, 143, 207);
}

.sep {
    color: white;
}

.real-estate h2 {
    margin-top: 50px;
}

.offers {
    margin-top: 70px;
    margin-bottom: 50px;
}

.footer {
    border-top: 1px solid white;
}